.App {
  text-align: center;
}
.content {
  margin: auto;
  border: 0.15rem solid black;
  width: 75%;
  padding: 1rem;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
  align-items: stretch;
}
.card {
  background-color: white;
  flex-basis: 25rem;
  color: black;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  border: 0.2rem solid yellow;
}
img {
  max-width: 20rem;
}

@media (max-width: 1500px) {
  .card {
    flex-basis: 20rem;
  }
}

@media (max-width: 250px) {
  img {
    width: 7rem;
  }
}
